<div class="container">
    <h4>Usando ngIf</h4>
    <button class="btn btn-dark" (click)="show=!show">Mostrar textos</button>
    
    <p class="text-info" *ngIf="show; else showDos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint perferendis, quisquam
        obcaecati,
        aspernatur ut natus inventore pariatur nostrum consequatur deserunt voluptatum ab cum itaque sit vel dolor, at
        quas.</p>

    <ng-template #showDos> 
        <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi vitae repellat,
            itaque, voluptate ipsum
            voluptatibus, perferendis porro architecto doloremque earum obcaecati minus dicta id nostrum cupiditate
            inventore quisquam ad?</p>
    </ng-template>    
</div>